<form class="elemental-css">
    <div class="{{theme.text_attribute}}">
        {{ localize "Elemental.AttributeRoll" }} - {{actor.name}}
    </div>
    {{> "systems/fvtt-elemental/templates/attribute_roll_partials/attribute.hbs" }}
    {{> "systems/fvtt-elemental/templates/attribute_roll_partials/flaws_conditions.hbs" }}
    {{> "systems/fvtt-elemental/templates/attribute_roll_partials/skills.hbs" }}
    {{> "systems/fvtt-elemental/templates/attribute_roll_partials/footer.hbs" }}
</form>
