<form>
    <input type="text" name="name" value="{{actor.name}}"
           class=" tw-w-full tw-p-4 tw-text-gray-900 tw-border tw-border-gray-300 tw-rounded-lg tw-bg-gray-50 tw-text-base tw-focus:tw-ring-blue-500 tw-focus:tw-border-blue-500"
           placeholder="{{localize 'Elemental.CharName'}}">
</form>