<form class="elemental-css">
    <div class="flex flex-row justify-between gap-2">
        <img class="w-10 h-10 rounded" src="{{item.img}}" data-edit="img">
        <input type="text" name="name" value="{{item.name}}"
           class="{{theme.big_input}} mb-4 self-center"
           placeholder="{{localize 'Elemental.ItemName'}}">
    </div>
</form>