<div class="grid grid-cols-8">
    <span class="col-span-7 {{theme.skill_name}}">
        {{this.name}}
    </span>
    <input type="text" name="skill_uuid" value="{{this.system.score}}" class="col-span-1 {{theme.small_input}}">
</div>