.elemental-css :is(.static) {
  position: static
}

.elemental-css :is(.col-span-7) {
  grid-column: span 7 / span 7
}

.elemental-css :is(.m-1) {
  margin: 0.25rem
}

.elemental-css :is(.mb-2) {
  margin-bottom: 0.5rem
}

.elemental-css :is(.mr-2) {
  margin-right: 0.5rem
}

.elemental-css :is(.mt-1) {
  margin-top: 0.25rem
}

.elemental-css :is(.mt-2) {
  margin-top: 0.5rem
}

.elemental-css :is(.block) {
  display: block
}

.elemental-css :is(.inline-block) {
  display: inline-block
}

.elemental-css :is(.flex) {
  display: flex
}

.elemental-css :is(.grid) {
  display: grid
}

.elemental-css :is(.hidden) {
  display: none
}

.elemental-css :is(.min-h-40) {
  min-height: 10rem
}

.elemental-css :is(.w-10) {
  width: 2.5rem
}

.elemental-css :is(.w-full) {
  width: 100%
}

.elemental-css :is(.max-w-32) {
  max-width: 8rem
}

.elemental-css :is(.grid-cols-2) {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.elemental-css :is(.grid-cols-9) {
  grid-template-columns: repeat(9, minmax(0, 1fr))
}

.elemental-css :is(.flex-row) {
  flex-direction: row
}

.elemental-css :is(.flex-col) {
  flex-direction: column
}

.elemental-css :is(.flex-wrap) {
  flex-wrap: wrap
}

.elemental-css :is(.justify-between) {
  justify-content: space-between
}

.elemental-css :is(.gap-2) {
  gap: 0.5rem
}

.elemental-css :is(.gap-4) {
  gap: 1rem
}

.elemental-css :is(.rounded) {
  border-radius: 0.25rem
}

.elemental-css :is(.rounded-lg) {
  border-radius: 0.5rem
}

.elemental-css :is(.rounded-t-lg) {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem
}

.elemental-css :is(.border) {
  border-width: 1px
}

.elemental-css :is(.border-0) {
  border-width: 0px
}

.elemental-css :is(.border-b) {
  border-bottom-width: 1px
}

.elemental-css :is(.border-b-2) {
  border-bottom-width: 2px
}

.elemental-css :is(.border-solid) {
  border-style: solid
}

.elemental-css :is(.border-none) {
  border-style: none
}

.elemental-css :is(.border-blue-600) {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity))
}

.elemental-css :is(.border-gray-200) {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.elemental-css :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.elemental-css :is(.bg-gray-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.elemental-css :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.elemental-css :is(.p-1) {
  padding: 0.25rem
}

.elemental-css :is(.p-2) {
  padding: 0.5rem
}

.elemental-css :is(.p-4) {
  padding: 1rem
}

.elemental-css :is(.p-6) {
  padding: 1.5rem
}

.elemental-css :is(.text-center) {
  text-align: center
}

.elemental-css :is(.text-right) {
  text-align: right
}

.elemental-css :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.elemental-css :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.elemental-css :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.elemental-css :is(.font-bold) {
  font-weight: 700
}

.elemental-css :is(.font-medium) {
  font-weight: 500
}

.elemental-css :is(.text-blue-600) {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.elemental-css :is(.text-gray-500) {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.elemental-css :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.elemental-css :is(.no-underline) {
  text-decoration-line: none
}

.elemental-css :is(.shadow) {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.elemental-css :is(.hover\:border-blue-600:hover) {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity))
}

.elemental-css :is(.hover\:border-gray-500:hover) {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity))
}

.elemental-css :is(.hover\:text-blue-700:hover) {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity))
}

.elemental-css :is(.hover\:text-gray-600:hover) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.elemental-css :is(.focus\:border-blue-500:focus) {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity))
}

.elemental-css :is(.focus\:ring-blue-500:focus) {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity))
}